body{ font-family:'Open Sans', sans-serif !important;background-color: #fff !important;}

/** COMMON CSS**/

.CMS-BG-White {background-color: #fff !important;}
.BgOverlay:before {position: absolute;display: block;content: ''; right: 0; left: 0; background-color: rgba(0,0,0,.56);
   transition: 0.3s, border-radius 0.3s, opacity 0.3s;width: 100%; height: 100%; top: 0;}
.buttonstyle{background-color: white;border-radius: 6px;border: 1px solid #D7282F;color:#D7282F;padding: 8px;transition: .3s;}
.buttonstyle:hover{background-color: #D7282F;color: #fff;border: 1px solid #D7282F;border-radius: 6px;transition: .3s; }
.circle {height: 40vmin;  pointer-events: none;  z-index: 1;}
@media (prefers-reduced-motion: no-preference) {  .circle{    animation: circle-spin infinite 20s linear;  }}
@keyframes circle-spin {  from {    transform: rotate(0deg);  }  to {    transform: rotate(360deg);  }}
.imageZindex{z-index: 8;}
.borderleft{border-left: 1px solid #D7282F;padding-left: 10px;}
.viewallbutton{background-color: black;color: white;border: 1px solid white;padding: 8px 14px;transition: 0.4s;border-radius: 6px;}
.viewallbutton:hover{background-color: white;color: black;transition: 0.4s;}
.technicaldatasheet{background-color: #D7282F;color: #fff;border-radius: 6px;padding: 8px 14px;transition: 0.4s;border: 1px solid #D7282F;}
.technicaldatasheet:hover{background-color: #000;color: #fff;transition: 0.4s;border: 1px solid #000;}
.contactustoday{background-color: #D7282F;color: #fff;border: 1px solid #fff;border-radius: 6px;transition: 0.4s;padding: 8px 14px}
.contactustoday:hover{background-color: white;color: #D7282F;border: 1px solid #D7282F;transition: 0.4s;}

/* accordion box-shadow remove */
.accordborder .accordion-button:not(.collapsed) {
  color: black;
  background-color: transparent;
  box-shadow: none;
}
.accordborder .accordion-button.collapsed {
  box-shadow: none;
}
/* .accordion-toggle.collapsed {
  color: #d7282f;
} */
/* tab hover */
.tabhover:hover{background-color: #fff;color:#000;}
/*** Di Pipes 4 Cards Banner ***/
.ct-counter-inner {
  background-color:#ffffffe0;
  margin-bottom: 4px;
  -webkit-box-shadow: 0 5px 20px rgb(102 102 102 / 19%);
  -khtml-box-shadow: 0 5px 20px rgba(102,102,102,.19);
  -moz-box-shadow: 0 5px 20px rgba(102,102,102,.19);
  -ms-box-shadow: 0 5px 20px rgba(102,102,102,.19);
  -o-box-shadow: 0 5px 20px rgba(102,102,102,.19);
  box-shadow: 0 5px 20px rgb(102 102 102 / 19%); 
  padding: 30px 65px 35px 25px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 7px; 
  -khtml-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.ct-counter-title {
  font-size: 18px;
  color: #000;
  font-weight:600;
}
.ct-counter-icon {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
   -webkit-transition: all 300ms linear 100ms;
  -khtml-transition: all 300ms linear 100ms;
  -moz-transition: all 300ms linear 100ms;
  -ms-transition: all 300ms linear 100ms;
  -o-transition: all 300ms linear 100ms;
  transition: all 300ms linear 100ms;
  width:auto !important;
}
.ct-counter-icon:before {
  width: 100px;
  height: 100px;
  left: 0;
  z-index: -2;
  background-color: rgba(237,28,36,.15);
  left: -13px;
  top: -13px;
  bottom: 0;
  -webkit-border-radius: 50% 0 50% 50%;
  -khtml-border-radius: 50% 0 50% 50%; 
  -moz-border-radius: 50% 0 50% 50%;
  -ms-border-radius: 50% 0 50% 50%;
  -o-border-radius: 50% 0 50% 50%;
  border-radius: 50% 0 50% 50%;
  content: "";
  display: block;
  position: absolute;
}
.ct-counter-icon .inner-icon {
  display: block;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  line-height: 1;
  overflow: hidden;
  position: relative;
  
}
.ct-counter-inner:hover .ct-counter-icon:after{background-color:#010101;}
.ct-counter-icon:after {
  width: 80px;
  height: 80px;
  z-index: -1;
  background-color:#D7282F;
  top: -5px;
  left: -2px;
}
.ct-counter-icon:before, .ct-counter-icon:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  bottom: 0;
  -webkit-border-radius: 50% 0 50% 50%;
  -khtml-border-radius: 50% 0 50% 50%;
  -moz-border-radius: 50% 0 50% 50%;
  -ms-border-radius: 50% 0 50% 50%;
  -o-border-radius: 50% 0 50% 50%;
  border-radius: 50% 0 50% 50%;
}
.ct-counter-inner:hover .ct-counter-icon .inner-icon {
  -webkit-animation: icon-bounce .5s linear 1;
  -khtml-animation: icon-bounce .5s linear 1;
  -moz-animation: icon-bounce .5s linear 1;
  -ms-animation: icon-bounce .5s linear 1;
  -o-animation: icon-bounce .5s linear 1;
  animation: icon-bounce .5s linear 1;
}
.ct-counter-icon img {
  -webkit-transition: all 300ms linear 100ms;
  -khtml-transition: all 300ms linear 100ms;
  -moz-transition: all 300ms linear 100ms;
  -ms-transition: all 300ms linear 100ms;
  -o-transition: all 300ms linear 100ms;
  transition: all 300ms linear 100ms;
}
.ct-counter-inner:hover {
  background-color:#fff;}
  /* landing page button */
.Contact{background-color: #D7282F;color: #fff;font-size: 16px;border-radius: 25px;border: 1px solid #D7282F;padding: 8px 16px;transition: .3s;}
.Contact2{background-color: #fff;color: #D7282F;font-size: 16px;border-radius: 25px;border: 1px solid #fff;padding: 8px 16px;transition: .3s;}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Button Hover Styles */
.pulse-button {
  transition: all 0.3s ease-in-out;
}

.pulse-button:hover {
  animation: pulse 1s infinite;
}

.Contact:hover{background-color: #010101;color: #fff;border: 1px solid #010101;transition: .3s;}
.Contact2:hover{background-color: #010101;color: #fff;border: 1px solid #010101;transition: .3s;}

.border{border: 1px solid #fff;border-radius: 10px;}
/* .border:hover{border-top: 2px solid #D7282F;border:none;background-color: red;} */

/* turbine buttons */
.tbuttons{background-color: #D7282F;color: #fff;font-size: 15px;padding: 10px 20px;transition: .3s;border: 1px solid #D7282F;border-radius: 6px;}
.tbuttons:hover{background-color: #010101;color: #fff;transition: .3s;border-radius: 6px;}

/* parts detail */
.backgroundcolor{background-image: radial-gradient(at center center, #FFFFFF 40%, #525252 100%);}
.textstroke{color: #fff;-webkit-text-stroke: 2px;stroke-width: 2px;-webkit-text-stroke-color: #000;stroke: #000;font-weight: 700;}
.textstroke2{color: #000;-webkit-text-stroke: 1px;stroke-width: 1px;-webkit-text-stroke-color: #fff;stroke: #fff;font-weight: 800;}
.downloadpartsbtn{padding: 20px 30px;color:#fff;background-color: #D7282F;font-size: 15px;font-weight: 700;border: 1px solid #D7282F;border-radius: 6px;transition: .3s;}
.downloadpartsbtn:hover{background-color: #000;color: #fff;border: 1px solid #000;transition: .3s;border-radius: 6px;}
.contactusbtn{padding: 8px 15px;color:#fff;background-color: #FE2622;border: 1px solid #FE2622;border-radius: 6px;font-weight: 700;transition: .3s;}
.contactusbtn:hover{background-color: #000;border: 1px solid #000;color: #fff;border-radius: 6px;}
.borderforcontainer{border-style: solid; border-width: 6px 6px 6px 6px; border-color: #ECECEC; transition:  0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}

/* turbine parts */
.boxshadow{box-shadow: 0px 0px 11px 4px rgba(236.99999999999997, 27.999999999999996, 36.00000000000003, 0.52); transition:  0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}
.btnone{color:#ED1C24 !important;font-size: 18px;font-weight: 700;background-color: transparent;border: none;transition: .3s;}
.btnone:hover{color:#000;transition: .3s;background-color: transparent;}
.industrysolBtn{padding: 10px 15px;background-color: #D7282F;color: #fff;font-size: 16px;font-weight: 700;border: 1px solid #D7282F;border-radius: 6px;transition: .3s;}
.industrysolBtn:hover{background-color: #000;color: #fff;border-radius: 6px;border: 1px solid #000;transition: .3s;}
.contactBtn{padding: 8px 15px;background-color: #D7282F;color: #fff;font-size: 15px;border: 1px solid #D7282F; border-radius: 6px;transition: .3s;}
.contactBtn:hover{background-color: #000;color: #fff;border: 1px solid #000;border-radius: 6px;transition: .3s;}

/* transformer oil */
.transformertab{background-color: red;}
.helo.gjs-active{background-color: #000;color: #fff;}
.helo:hover{background-color: #000;color: #fff;transition: .3s;}
.transformerbtn{padding:8px 16px;background-color: #D7282F;color: #fff;border: 1px solid #D7282F;border-radius: 6px;transition: .3s;}
.transformerbtn:hover{background-color: #000;color: #fff;border: 1px solid #000;border-radius: 6px;transition: .3s;}
.boxshadowandtransition{transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;box-shadow: 0.2rem 0.2rem 1.2rem 0 rgba(23,39,59,.1);}
.boxshadowandtransition:hover{transform: translateY(-.4rem);}

  .common.nav-pills .active{background-color: #000 !important;color: #fff !important;}
  /* .common.nav-pills{overflow-x: scroll;} */
  .common.nav-pills .nav-link{padding: 0px 8px; margin: 0;color:#000;background-color: #f1f1f1;border: none !important; }
  .common.nav-pills .nav-link:hover { color: #fff; background-color: #000 !important;}

 .redonactive .active{background-color: #D7282F !important;color: #fff !important;border: none !important;}
 .redonactive.nav-pills .nav-link { background-color: #010101; border: none !important;}
 .redonactive .nav-link{border: none !important;}
 .forwidth .nav-link{ padding: 18px !important;border: none;}
  
  div .nav-link:hover { color: #fff !important; background: #000 !important;border: none !important;}

  .pumpbtn{background-color: #D7282F;color: #fff;border: 1px solid #D7282F;border-radius: 6px;transition: .3s;padding: 8px 14px;}
  .pumpbtn:hover{background-color: #000;color: #fff;border: 1px solid #000;border-radius: 6px;transition: .3s;}

  /* line width increase on hover */
.borderr {border: 1px solid #fff !important; border-radius: 10px; position: relative;}
.borderr::before {content: ''; display: block; position: relative; height: 4px; width: 80%; background-color: #fe2622; transform: scaleX(0); transform-origin: left;
 transition: transform .7s ease; top: -8px; left: 30px;}
.borderr:hover::before { transform: scaleX(1);}
.borderr:hover { border: 1px solid transparent !important;}

/* fade-in-up effect */
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 2s;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

/* side-in-left */
.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 2s;
}

@keyframes slideInLeft {
  0% {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  100% {
      transform: translate3d(0, 0, 0);
  }
}

/* side-in-right */
.slideInRight {
  animation-name: slideInRight;
  animation-duration: 2s;
}

@keyframes slideInRight {
  0% {
      transform: translate3d(100%, 0, 0);
      visibility: visible;
  }

  100% {
      transform: translate3d(0, 0, 0);
  }
}
.prevailing{display: flex;}
.tparts{font-size: 20px;}
/* media queries */
@media screen and (max-width:768px){
  .prevailing{display: block;}
  .tparts{font-size: 16px;}
  .phnno{font-size: 14px;}
}
.phnno{font-size: 28px !important;}
@media screen and (max-width:1600px){
  .phnno{font-size: 22px !important;}
}
@media screen and (max-width:1340px){
  .phnno{font-size: 16px !important;}
}
@media screen and (max-width:480px){
  .phnno{font-size: 14px !important;}
  .Contact2{font-size: 14px;}
}
@media screen and (max-width:320px){
  .Contact2{font-size: 12px;}
}